.VSCodeCounter/
.cache/
tags
build/.cmake
build/.qt
build/CMake*
build/debug/
build/docs/
build/libs/
build/release/
build/src/
build/.ninja*
build/build.*
build/cmake*
build/compile_*
build/install_*
docs/html/
docs/latex/
install/
src/tags
src/*.sw*