.VSCodeCounter/
.cache/
tags
build/.cmake
build/.qt
build/CMake*
build/debug/
build/doc/
build/release/
build/src/
build/.ninja*
build/build.*
build/cmake*
build/compile_*
build/install_*
doc/html/
doc/latex/
install/
src/tags
src/*.sw*
src/git.hpp